{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block main %}
    <div class="container py-3">
        <h1>
            <i class="fad fa-home"></i>
            Hello
        </h1>
        <a href="{{ path('connect_facebook_start') }}">aa</a>
    </div>
{% endblock %}
