{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block main %}
    <div class="container py-3">
        <h1>
            <i class="fad fa-home"></i>
            Your feed
        </h1>
        {% include 'item/list_items.html.twig' %}
    </div>
{% endblock %}
