$blue: #2980b9;
$green: #27ae60;
$cyan: #3498db;
$yellow: #f1c40f;
$red: #e74c3c;

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-pro/scss/fontawesome";
@import "~@fortawesome/fontawesome-pro/scss/duotone";
@import "~@fortawesome/fontawesome-pro/scss/brands";
@import "~@fortawesome/fontawesome-pro/scss/light";
@import "~@fortawesome/fontawesome-pro/scss/solid";
