<h4>
    <i class="fad fa-rss"></i>
    Quick list
</h4>
<div class="bg-light text-dark p-2">
    {% for item in items %}
        <div class="py-1">
            <a href="#" class="js-scroll-into-view text-truncate d-block" data-target="#item-{{ item.id }}" title="{{ item.title }}">
                {{ item.title }}
            </a>
            <small>{{ item.pubDate | date }}</small>
        </div>
    {% endfor %}
</div>
