{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block main %}
    <div class="container py-3">
        <h1>
            <i class="fad fa-stars"></i>
            Your starred items
        </h1>
        <div class="row">
            <div class="col-lg-7">
                {% if items | length == 0 %}
                    <em>Like some items first</em>
                {% else %}
                    {% include 'item/list_items.html.twig' %}
                {% endif %}
            </div>
            <div class="col-lg-5">
                <div>
                    <h4>
                        <i class="fad fa-rss"></i>
                        Your feeds
                    </h4>
                    <div class="bg-light p-2">
                        {% for origin in origins %}
                            <div class="py-1">
                                {{ origin | origin_badge('text-truncate d-block') }}
                            </div>
                        {% endfor %}
                        <div class="py-1">
                            <a href="{{ path('feed_index') }}">
                                <i class="fad fa-angle-double-right"></i>
                                More feeds
                            </a>
                        </div>
                    </div>
                    <br>
                    {% include 'item/quick_list.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
