{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block main %}
    <div class="container py-3">
        <h1>
            <i class="fad fa-stars"></i>
            Your starred items
        </h1>
        {% if items | length == 0 %}
            <em>Like some items first</em>
        {% else %}
            {% include 'item/list_items.html.twig' %}
        {% endif %}
    </div>
{% endblock %}
